.body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: white;
}
.headerBar{
    width: 100%;
    background-color: white;
    margin: 0;
    height: 10%;
    display: flex;
}
.firstHeader{
    text-align: left;
    margin-left: 6vh;
}
.loginButton{
    text-align: right;
    margin-left: auto;
    margin-right: 15vh;
    height: 10vh;
    width: 15vh;
    align-self: center;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
}
.loginButton:hover{
    background-color: rgb(215,215,215);
}
.ticTacToeMainContainer{
    width: 100%;
    min-height: 90vh;
    background-color: beige;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.ticTacToeSubContainer{
    min-height: 30%;
    display: flex;
    align-items: center;
    background-color: beige;
    justify-content: center;
    font-size: 10rem;
}
.ticTacToeSubContainerV2{
    min-height: 30%;
    display: flex;
    align-items: center;
    background-color: beige;
    justify-content: center;
    font-size: 10rem;
}
#overlay{
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0,0,0,0.5);
    z-index: 9999;
}
.hiddenForm{
    display: none;    
    position: absolute;
    z-index: 10000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 50vh;
    height: 65vh;
    padding: 20px;
    border-radius: 5px;
    text-align: center;
    color: black;
    font-size: 2rem;
    text-align: center;
}
.imageStyle{
    margin-top: 1rem;
    width: 50%;
    height: 60%;
}
.replayButton{
    background-color: blanchedalmond;
    font-size: 2rem;
    text-align: center;
    display: block;
    margin: 1.5rem auto 0;
    border-radius: 4px solid beige;
    justify-content: center;
    height: 15%;
}
