.body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: beige;
}
.headerBar{
    width: 100%;
    background-color: white;
    margin: 0;
    height: 15%;
    display: flex;
}
.firstHeader{
    text-align: left;
    margin-left: 6vh;
}
.loginButton{
    text-align: right;
    margin-left: auto;
    margin-right: 15vh;
    height: 6vh;
    width: 15vh;
    align-self: center;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
}
.loginButton:hover{
    background-color: rgb(215,215,215);
}
.mainBodyContainer{
    height: 85%;
    width: 100%;
    display: flex;
}
.leftHandContainer{
    background-color: rgb(221,221,221);
    float: left;
    width: 30%;
    height: 100%;

}
.rightHandContainer{
    background-color: rgb(238,238,238);
    width: 70%;
    height: 100%;
}
.leftHandButtons{
    background-color: rgb(221,221,221);
    border-width: 0;
    width: 85%;
    display: block;
    height: 5vh;
    border-radius: 8px;
}
.selectedButton{
    background-color: rgb(204,204,204);
    border-width: 0;
    width: 85%;
    display: block;
    height: 5vh;
    border-radius: 8px;
    font-weight: bold;
}
.selectedCategory{
    font: bold;
}
.spacer{
    margin-top: 2vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
}