.body{
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: beige;
}
.headerBar{
    width: 100%;
    background-color: white;
    margin: 0;
    height: 15%;
    display: flex;
}
.firstHeader{
    text-align: left;
    margin-left: 6vh;
}
.loginButton{
    text-align: right;
    margin-left: auto;
    margin-right: 15vh;
    height: 6vh;
    width: 15vh;
    align-self: center;
    border-radius: 5px;
    border: 2px solid black;
    text-align: center;
}
.loginButton:hover{
    background-color: rgb(215,215,215);
}
.mainBodyContainer{
    height: 85%;
    width: 100%;
    display: flex;
}
.leftHandContainer{
    background-color: rgb(221,221,221);
    float: left;
    width: 30%;
    height: 100%;

}
.rightHandContainer{
    background-color: rgb(238,238,238);
    width: 70%;
    height: 100%;
    justify-content: center;
}
.leftHandButtons{
    background-color: rgb(221,221,221);
    border-width: 0;
    width: 85%;
    display: block;
    height: 5vh;
    border-radius: 8px;
}
.selectedButton{
    background-color: rgb(204,204,204);
    border-width: 0;
    width: 85%;
    display: block;
    height: 5vh;
    border-radius: 8px;
    font-weight: bold;
}
.selectedCategory{
    font: bold;
}
.spacer{
    margin-top: 2vh;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    display: flex;
    align-items: center;
}
.secondPanelDisplay{
    margin-left: 5vw;
}
.taskHolders{
    height: auto;
    width: 100%;
    justify-content: center;
    display: flex;
}
.AddTask{
    width: 50vw;
    height: 4vh;
}
.createTaskPanelStyles{
    width: 65vw;
    height: 75vh;
    background-color: blue;
    box-sizing: border-box;
    padding: 2vh;
    display: none;
}
.detailInputStyle{
    width: 10vw;
    height: 7vh;
    display: block;
}
.titleInputStyle{
    width: 20vw;
    height: 4vh;
    display: block;
}
.addToDoButton{
    width: 12vw;
    height: 4vh
}
.date-input-container {
    position: relative;
}

.date-input {
    padding-right: 30px;
}

.calendar-icon {
    position: absolute;
    right: 5px;
    top: 5px; 
    pointer-events: none;
}

.calendar-icon i {
    color: #777; 
    font-size: 20px; 
}
.newDivStyle{
    width: 55vw;
    height: 6vh;
    background-color: aqua;
    margin-left: 7vw;
    display: flex;
    align-items: center;
    
}
.completionCheckMark{
    width: 2.5vh;
    height: 2.5vh;
}
.titleName{
    margin-left: 1.5vw;
}
.details{
    margin-left: 25vw;
    width: 5vw;
    height: 3vh;
    color:  #008B8B;
    border-radius: 0.1vw;
}
.details:hover{
    background-color: #008B8B;
    color: #FFFFFF;
}
.dateButton{
    margin-left: 1.5vw;
    font-size: 1em;
}
.editButton{
    margin-left: 1.5vw;
}
.deleteButton{
    margin-left: 1.5vw;
    width: 5vw;
}
